@page "/score_online"
@layout MainLayout
<PageTitle>Score</PageTitle>
<div class="container-fluid row p-3">
    <div class="container  shadow-sm bg-warning fs-5">
    <label>Môn:</label><br />
</div>
    <div class="container shadow-sm py-2">
        <div class="d-flex justify-content-end p-2">
            <button type="button" class="btn btn-secondary btn-sm ">Excel</button>
            <button type="button" class="btn btn-secondary btn-sm">Print</button>
        </div>
        <table class="table table-bordered border-1 table-responsive">
        <thead>
            <tr>
                <th class="col-1">STT</th>
                <th class="col-6">Câu hỏi</th>
                <th class="col-2">Kết quả</th>
                <th class="col-3">Điểm</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>fat</td>
            </tr>
            <tr>
                <td></td>
                <td colspan="2" class="fw-bold">Tổng điểm:</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
</div>
@code {
    
}
<style>
    .row{
        --bs-gutter-x: 0;
    }
</style>